* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
  display: none;
}
h1 {
  margin: 0;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.625rem;
}
.phone-icon {
  fill: #5c8ee6;
}
.logo-svg {
  width: 9rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 94px;
}
.header-image {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
  width: 100%;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  padding: 0 3.125rem;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item:not(:last-child) {
  margin-right: 3.3125rem;
}
.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: inherit;
  letter-spacing: 0.01px;
  padding-top: 0.3125rem;
  padding-left: -0.125rem;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  padding: 1.5625rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
div .button {
  min-width: 6.3%;
  display: inline-block;
  padding-left: 3.6875rem;
  word-spacing: 0.01rem;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding-left: 3.1875rem;
  letter-spacing: 0.0125rem;
  margin-right: -0.1875rem;
  align-items: center;
}
.navbar-button .button-icon {
  display: none;
}

.header-button {
  height: 100%;
}
.seporator {
  background: #5c8ee6;
  width: 9.375rem;
  height: 2px;
  border-top: 0.0625rem;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding-left: 0.9375rem;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: regular;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0;
  word-spacing: 0.1px;
  letter-spacing: 0.57px;
  padding-bottom: 1.0625rem;
}
.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  word-spacing: 0.13px;
  letter-spacing: 0.11px;
}
.header-features {
  display: flex;
  min-width: 100%;
  max-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #ffffff;
  position: relative;
  margin-left: 0.9375rem;
  margin-right: 0.3125rem;
}
.header-features-item {
  min-width: 20%;
  min-height: 100%;
  padding: 1.9375rem 3.0625rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.slider-buttons {
  display: none;
  height: 44px;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.slider-item-buttons {
  display: none;
  justify-content: end;
}
.slider-button-item-prev,
.slider-button-item-next {
  width: 60px;
  height: 40px;

  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  background-color: #5c8ee5;
}
.swiper {
  overflow: hidden;
}
.swiper-autoheight .swiper-wrapper {
  transition-property: transform, height;
}
.swiper-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.arrow-icon {
  width: 30px;
  height: 30px;
}
.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
/* .section-light {
  margin-left: 1.9375rem;
} */
.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.5625rem;
  padding-bottom: 0.25rem;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  /* gap: 1.875rem; */
}
.steps-item {
  width: 25%;
  list-style-type: none;
  padding-right: 1.875rem;
}
.steps-num {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 2.8125rem;
  line-height: 120%;
  letter-spacing: 1.1px;
  font-stretch: expanded;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 2.1875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.07px;
  font-stretch: 0.3px;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: #828a99;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;

  letter-spacing: 0.07px;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.1px;
  color: #5c8ee6;
}
.steps-link::before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 2.5rem;
  margin-right: 1.25rem;
}

@media (max-width: 1815px) {
  .header-features-item {
    padding: 1.9rem 0.9rem;
  }
}
@media (max-width: 1800px) {
  .header-features-item {
    font-size: 0.8rem;
    padding: 1.9rem 11.2px;
  }
}

@media (max-width: 1700px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1650px) {
  .header-nav {
    padding-left: 0;
  }
  .header-logo {
    padding: 0 45px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 14.5px;
  }
  .steps-title {
    font-size: 1.6rem;
  }
  .steps-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 14px;
  }
  .header-logo {
    padding: 0 3rem;
  }
}

@media (max-width: 1450px) {
  .header-nav-item:not(:last-child) {
    margin-right: 2.6rem;
  }
  /* .header-phone {
    margin-right: 1rem;
  } */
  .header-logo {
    padding: 0 3rem;
  }
  .steps-text {
    font-size: 0.8438rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 13.5px;
  }
  .container {
    max-width: 80rem;
  }
}

@media (max-width: 1350px) {
  .header-logo {
    padding: 0 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 2.2rem;
  }
  .steps-text {
    font-size: 0.825rem;
  }
  .header-phone {
    margin-right: 1.875rem;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 1250px) {
  html {
    font-size: 12.5px;
  }
  .logo-svg {
    width: 8.5rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12.5px;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.75rem;
  }
  .logo-svg {
    width: 8rem;
  }
  .header-title {
    font-size: 3.75rem;
  }
  .slider-buttons {
    display: flex;
  }
  .container {
    max-width: 70rem;
    margin: 0 9rem;
  }
  .slider-item-buttons {
    display: flex;
  }
}

@media (max-width: 1130px) {
  .header-phone {
    display: none;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .logo-svg {
    width: 9rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
    color: #292d33;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.isOpen {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 2.1875rem;
    margin-top: 0.9375rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-submenu-item {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
  .icon-mobile {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
  }
  .mobile-info-email {
    display: flex;
    gap: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 40rem;
    margin: 0 6rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 3rem;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-content {
    padding-top: 2rem;
  }
}

@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
  }
  .header-logo {
    flex-grow: 0;
  }
}
