* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
  display: none;
}
h1 {
  margin: 0;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.625rem;
}
.phone-icon {
  fill: #5c8ee6;
}
.logo {
  display: none;
}
.logo-svg {
  width: 9rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 5.875rem;
}
.header-image {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
  width: 100%;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  padding: 0 3.1rem;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3rem;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 3.3125rem;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: inherit;
  position: relative;
  letter-spacing: 0.0096px;
  padding-top: 0.3125rem;
}
.header-nav-link:after {
  content: "";
  width: 0px;
  height: 0.125rem;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee5;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  flex-shrink: 0;
  height: 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.button-detail {
  width: 19.5625rem;
  height: 4.75rem;
  align-items: center;
  display: inline-block;
  padding: 1.5625rem 3.625rem;
}
.button-text {
  word-spacing: 0.31rem;
}
.navbar-button {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  letter-spacing: 0.0125rem;
  word-spacing: 0.01rem;
  padding: 0 3rem;
  align-items: center;
}
.navbar-button .button-icon {
  display: none;
}
.header-button {
  height: 100%;
}
.seporator {
  background: #5c8ee6;
  width: 9.375rem;
  height: 0.125rem;
  border-top: 0.0625rem;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.header-title {
  max-width: 63.7rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: regular;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0;
  word-spacing: 0.1008px;
  letter-spacing: 0.5696px;
  padding-bottom: 1.0625rem;
}
.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  word-spacing: 0.1296px;
  letter-spacing: 0.1104px;
}
.header-features {
  display: flex;
  min-width: 100%;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #ffffff;
  position: relative;
  margin-left: 0.9375rem;
  margin-right: 0.3125rem;
}
.header-features-item {
  min-width: 20%;
  height: auto;
  padding: 1.9375rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  letter-spacing: 0.2608px;
  word-spacing: 0.2992px;
}
.header-features-text {
  max-width: 10.9375rem;
}
.slider-buttons {
  display: none;
  height: 2.75rem;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.slider-item-buttons {
  display: none;
  justify-content: end;
}
.slider-button-item-prev,
.slider-button-item-next {
  width: 3.75rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  background-color: #5c8ee5;
}
.swiper {
  overflow: hidden;
}
.swiper-autoheight .swiper-wrapper {
  transition-property: transform, height;
}
.swiper-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.arrow-icon {
  width: 1.875rem;
  height: 1.875rem;
}
.section {
  margin-top: 9.34rem;
  margin-bottom: 9.375rem;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 23.5632px;
  letter-spacing: 0.28px;
}
.section-marks {
  padding-bottom: 0.375rem;
  letter-spacing: 0.5792px;
}
.section-marks-two {
  display: none;
}
.section-light {
  margin-top: 7.1875rem;
  margin-bottom: 5.625rem;
}
.production {
  margin-top: 6.125rem;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 90%;
}
.steps-item {
  width: 30%;
  min-height: 16.6875rem;
  list-style-type: none;
  padding-right: 1.875rem;
  margin-top: -0.6875rem;
}
.steps-num {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 2.8125rem;
  line-height: 120%;
  letter-spacing: 1.1008px;
  font-stretch: expanded;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 2.1875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.0704px;
  font-stretch: 0.2992px;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: #828a99;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.0704px;
}
.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.1008px;
  color: #5c8ee6;
}
.button-link:before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.button-link:hover:before {
  width: 3.75rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  text-decoration: none;
  width: 480px;
  border: 1px solid #ebebf0;
  position: relative;
  transition: border 0.2s;
}
.card:hover .card-title {
  color: #5c8ee5;
}
.card:hover {
  border-color: #5c8ee5;
}
.card-content {
  padding: 2.5rem 3.125rem;
  height: 37.0625rem;
  width: 30rem;
  letter-spacing: 0.0496px;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0.355rem;
  margin-bottom: -0.07rem;
  transition: color 0.2s;
  letter-spacing: 0.2208px;
}
.cards > a:nth-child(3) > .card-content {
  padding-right: 1px;
}
.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 24.625rem;
  width: 19.375rem;
}
.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}
.trademark-cards {
  display: flex;
}
.trademark-card {
  flex-basis: 50%;
  text-decoration: none;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-column-gap: 3.125rem;
  grid-template-columns: 11.25rem 1fr;
  grid-template-rows: auto 2fr;
  grid-template-areas:
    "logo title title"
    "logo text text";
  cursor: pointer;
}
.trademark-card-title {
  font-weight: 400;
  margin: 0;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  grid-area: title;
}
.trademark-card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162.5%;
  font-style: normal;
  color: #828a99;
  letter-spacing: 0.07px;
  grid-area: text;
  margin-top: 0.725rem;
}
.trademark-card-logo {
  width: 100%;
  height: 11.25rem;
  grid-area: logo;
  fill: #828a99;
}
.trademark-card:hover {
  border-color: #5c8ee5;
}
.trademark-card:hover .trademark-card-logo {
  fill: #5c8ee6;
}
.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}
.founder {
  min-height: 41.25rem;
  position: relative;
}
.founder-photo {
  position: absolute;
  left: 0;
  width: 43.8%;
  height: 100%;
  object-fit: cover;
  top: 0;
}
.founder-content {
  width: 45rem;
  margin-top: 3.1313rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.founder-text {
  letter-spacing: 0.0075rem;
  word-spacing: 0.0125rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160.8%;
  color: #828a99;
  padding-bottom: 0.4688rem;
}
.founder-title {
  margin-top: 1.3938rem;
  margin-bottom: 1.3937rem;
  line-height: 126.7%;
  letter-spacing: 0.0375rem;
}
.founder-text-two {
  padding-bottom: 13.5px;
}
.founder-button-link-two {
  display: none;
}
.clients-wrapper {
  display: flex;
  gap: 0.025rem;
  justify-content: space-between;
}
.clients-content {
  width: 43.75rem;
}
.clients-list {
  list-style-type: none;
  padding: 0;
  columns: 2 auto;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.275rem;
  letter-spacing: 0.0125rem;
}
.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
  width: 45rem;
  margin-top: 2rem;
}
.clients-logo-item {
  flex-basis: 33.33%;
  border: 1px solid #ebebf0;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.clients-logo {
  max-width: 100%;
  filter: grayscale(100%);
  /* width: 70px;
  height: 70px; */
}
.clients-logo:hover {
  filter: none;
}
.clients-title {
  letter-spacing: 0.03rem;
  margin-bottom: 2.8125rem;
}

@media (max-width: 1815px) {
  .header-features-item {
    padding: 1.9rem 0.9rem;
  }
}

@media (max-width: 1800px) {
  .header-features-item {
    font-size: 0.8rem;
    padding: 1.9rem 0.7rem;
  }
  .header-phone {
    margin-right: 1.625rem;
  }
}

@media (max-width: 1700px) {
  html {
    font-size: 0.9375rem;
  }
  .card {
    width: 29.125rem;
  }
}
@media (max-width: 1650px) {
  .header-nav {
    padding-left: 0;
  }
  .header-logo {
    padding: 0 2.8125rem;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 0.9063rem;
  }
  .steps-title {
    font-size: 1.6rem;
  }
  .steps-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 0.875rem;
  }
  .header-logo {
    padding: 0 3rem;
  }
}

@media (max-width: 1450px) {
  .header-nav-item:not(:last-child) {
    margin-right: 2.6rem;
  }
  .header-logo {
    padding: 0 3rem;
  }
  .steps-text {
    font-size: 0.8438rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 0.8438rem;
  }
  .container {
    max-width: 80rem;
  }
  .card {
    width: 50%;
    height: calc(30rem * 1.25);
  }
  .card-text {
    width: 28rem;
  }
  .card-content {
    width: 40rem;
  }
}

@media (max-width: 1350px) {
  .header-logo {
    padding: 0 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 0.7rem;
  }
  .steps-text {
    font-size: 0.825rem;
  }
  .header-phone {
    margin-right: 1.875rem;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 0.8125rem;
  }
  .card {
    height: 46rem;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 0.7813rem;
  }
  .logo-svg {
    width: 8.5rem;
  }
  .icon-trading {
    margin: 1.875rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 0.7813rem;
  }
  .container {
    max-width: 75rem;
    margin: 0 9rem;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.75rem;
  }
  .logo-svg {
    width: 8rem;
  }
  .header-title {
    font-size: 3.75rem;
  }
  .slider-buttons {
    display: flex;
  }
  .slider-item-buttons {
    display: flex;
  }
  .trademark-card {
    grid-template-columns: auto auto;
  }
  .founder-content {
    width: 100%;
    padding-left: 39.25rem;
  }
  .clients-wrapper {
    flex-wrap: wrap;
  }
  .clients-content {
    width: 100%;
    padding-left: 6rem;
  }
  .clients-list-item {
    font-size: 1.8rem;
  }
}

@media (max-width: 1130px) {
  .header-phone {
    display: none;
  }
  .card {
    height: 44rem;
  }
  .founder-content {
    padding-left: 38.25rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 0.75rem;
  }
  .logo-svg {
    width: 9rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
  }
  .mobile-menu-toggle {
    width: 5rem;
    height: 4.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.625rem 1.2813rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
    color: #292d33;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.isOpen {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 2.1875rem;
    margin-top: 0.9375rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-submenu-item {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: #292d33;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
  .icon-mobile {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
  }
  .mobile-info-email {
    display: flex;
    gap: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
  .card {
    height: 40rem;
    width: 50%;
  }
  .card-content {
    width: 100%;
  }
  .card-text {
    width: 100%;
  }
  .cards-trading {
    width: 100%;
    flex-direction: column;
  }
  .icon-trading {
    margin: 3.125rem;
    width: 11.25rem;
    height: 11.25rem;
  }
  .card-trading-text {
    max-width: 100%;
  }
  .trademark-cards {
    flex-direction: column;
  }
  .founder-content-wrapper {
    justify-content: flex-start;
    /* width: 100%; */
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
  .founder-content {
    width: 63rem;
    padding-left: 6rem;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .clients-list {
    max-width: 65.75rem;
  }
  .clients-list-item {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
    margin: 0 6rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 3rem;
  }
  .card {
    flex-basis: 100%;
    height: 55.8rem;
  }
  .card-text {
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 160%;
  }
  .card-content {
    width: 27.5rem;
    padding: 2.5rem 0.9375rem;
  }
  .icon-trading {
    margin: 1.25rem;
    width: 8.125rem;
    height: 8.125rem;
  }
  .section-marks-one {
    display: none;
  }
  .section-marks-two {
    display: block;
  }
  .mobile-menu-toggle {
    height: 100%;
    padding: 1.7125rem 1.8625rem;
  }
  .founder-content-wrapper {
    justify-content: flex-start;
  }
  .founder-content {
    width: 100%;
  }
  .founder-text {
    font-size: 0.9375rem;
    /* width: 43rem; */
  }
  .clients-content {
    /* width: auto; */
    padding-left: 0;
  }
  .clients-logo-item {
    flex-basis: 40%;
  }
  .clients-logo-list {
    width: 43rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-content {
    padding-top: 2rem;
  }
  .icon-trading {
    margin: 0.9375rem;
    width: 6.875rem;
    height: 6.875rem;
  }
  .card-content {
    width: 26rem;
    padding: 2.5rem 0.9375rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .trademark-card {
    grid-template-areas:
      "logo title"
      "text text";
  }
  .mobile-menu-toggle {
    padding: 1.7125rem 1.9625rem;
  }
  .card {
    height: 46rem;
  }
  .clients-wrapper {
    width: 36.875rem;
  }
  .clients-list {
    columns: 1;
    width: 29rem;
  }
  .clients-title {
    width: 25rem;
  }
  .clients-logo-list {
    width: 31.8rem;
  }
  .clients-content {
    width: 18.75rem;
  }
  .clients-logo-item {
    flex-basis: 43%;
  }
  .clients-list-item {
    font-size: 0.9rem;
  }

  .founder-content {
    padding-left: 0;
  }
  .founder-text {
    width: 31rem;
  }
  .founder-content {
    padding-left: 2rem;
  }
  .clients-logo-item {
    flex-basis: 69%;
  }
}

@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-logo {
    flex-grow: 1;
  }
  .card-text {
    width: 17.4312rem;
  }
  .card {
    height: 39rem;
  }
  .trademark-card-logo {
    width: 80px;
  }
  .trademark-card {
    grid-template-columns: 60px auto;
    grid-column-gap: 1.25rem;
  }
  .clients-logo-list {
    width: 25rem;
  }
  .clients-content {
    width: 29rem;
  }
  .clients-wrapper {
    width: 29rem;
  }
  .clients-list {
    width: 20rem;
  }
  .founder-text {
    width: 24rem;
  }
}

@media (max-width: 376px) {
  .container {
    max-width: 92%;
    margin: 0 1.2rem;
    padding-left: 0.0063rem;
  }
  .navbar {
    height: 5.6125rem;
  }
  .navbar-button {
    padding-left: 0.64rem;
  }
  .button-icon {
    width: 4.0625rem;
    padding-left: 1.2125rem;
  }
  .mobile-menu-toggle {
    width: 6.7rem;
    padding: 2.2063rem 2.4625rem;
  }
  .mobile-menu-line {
    height: 1px;
    width: 100%;
    padding-left: 0.3125rem;
  }
  .logo-svg {
    width: 10rem;
    height: 5.5rem;
    margin-right: 1.15rem;
    margin-left: 1.3438rem;
  }
  .header {
    padding-top: 9.28rem;
  }
  .header-content {
    padding-top: 0.59rem;
  }
  .header-title {
    width: 21.5625rem;
    height: 26.35rem;
    margin: 1.2rem 0.075rem 4rem 0.025rem;
    font-size: 4.1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.1px;
    word-spacing: 0.0313rem;
  }
  .header-text {
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 2.525rem;
    word-spacing: -1.6704px;
    letter-spacing: 0.2696px;
  }
  .header-features {
    margin-top: 4.25rem;
    margin-bottom: 0;
  }
  .header-features-item {
    width: 12.5rem;
    height: 11.65rem;
    padding-top: 1.5438rem;
    padding-left: 2.3rem;
  }
  .header-features-text {
    font-size: 1.1rem;
    line-height: 165%;
    padding-top: 0.4375rem;
    padding-left: 0.1437rem;
    letter-spacing: 0.05rem;
    word-spacing: -0.57px;
    min-width: 12.575rem;
  }
  .slider-buttons {
    height: 3.6rem;
  }
  .arrow-icon {
    width: 3.2rem;
    height: 2.9rem;
  }
  .section-title {
    margin-top: 1.4rem;
    letter-spacing: 0px;
    font-size: 3.05rem;
    margin-bottom: 2.725rem;
  }
  .section-marks {
    margin-top: 1.45rem;
    margin-bottom: 2.3563rem;
    letter-spacing: 0.16px;
  }
  .steps-item {
    width: 3.5625rem;
    height: 15.6875rem;
    padding-right: 3.275rem;
  }
  .steps-num {
    font-size: 3.9125rem;
  }
  .steps-num::after {
    margin-left: 3.0875rem;
  }
  .steps-title {
    margin-top: 1.1875rem;
    letter-spacing: 0.4704px;
  }
  .steps-text {
    font-size: 1.125rem;
    margin-top: 0.45rem;
    margin-bottom: 2.25rem;
    letter-spacing: 0.0231rem;
    word-spacing: 1.8px;
  }
  .button-link {
    letter-spacing: 0.07rem;
    font-size: 1.15rem;
    word-spacing: -3.4px;
  }
  .button-link:before {
    width: 3.2rem;
    margin-right: 1.85rem;
  }
  .section-light {
    margin-top: 8.4rem;
    margin-bottom: 5.625rem;
  }
  .seporator {
    width: 8.275rem;
  }
  .button-detail {
    width: 28.7625rem;
    height: 5.05rem;
    align-items: center;
    display: inline-block;
    padding: 1.57rem 7.125rem;
    flex-grow: 0;
    word-spacing: 1.0704px;
    letter-spacing: 0.085px;
    font-size: 1.175rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
  }
  .slider-item-buttons {
    margin-top: -1px;
  }
  .slider-button-item-prev,
  .slider-button-item-next {
    width: 5rem;
    height: 3.2rem;
  }
  .card {
    height: 34rem;
  }
  .card-content {
    width: auto;
    height: auto;
    padding-top: 1.4437rem;
    padding-left: 2.5188rem;
    padding-right: 0;
  }
  .card-title {
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 1.15px;
    word-spacing: 0.9px;
  }
  .card-text {
    width: 22.375rem;
    height: 18.5rem;
    margin-top: 0.8875rem;
    margin-right: 0.3125rem;
    margin-bottom: 0.625rem;
    font-size: 1.169rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.09px;
    word-spacing: -1.3px;
  }
  .cards-prodaction {
    height: 35.75rem;
  }
  .title-light {
    margin-bottom: 2.125rem;
  }
  .text-light {
    margin-bottom: 2.13rem;
  }
  .buttons-light {
    margin-top: 0.0625rem;
  }
  .section-trading {
    margin-top: 0.625rem;
  }
  .production {
    margin-top: 8.328rem;
    margin-bottom: 5.9375rem;
  }
  .trademark {
    margin-top: 8.34rem;
  }
  .trademark-card {
    grid-column-gap: 2.525rem;
    grid-template-columns: 34.7% auto;
    padding-top: 1rem;
    padding-left: 2.3625rem;
    padding-right: 1.875rem;
    padding-bottom: 1.15rem;
  }
  .trademark-card-logo {
    width: 8.4438rem;
  }
  .trademark-card-title {
    margin-top: 1.1313rem;
    letter-spacing: -0.6px;
    line-height: 130%;
    padding-top: 0.2125rem;
  }
  .trademark-card-text {
    margin-top: 0.225rem;
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    line-height: 164%;
  }
  .founder {
    padding-top: 0.3125rem;
  }
  .founder-photo {
    margin-top: -1.3rem;
    margin-bottom: 0.825rem;
  }
  .founder-content {
    padding-left: 0;
  }
  .founder-title {
    line-height: 120%;
    margin-bottom: -0.2875rem;
  }
  .founder-text {
    width: 28.6rem;
    font-size: 1.15rem;
    line-height: 159.2%;
    letter-spacing: 0.02rem;
    margin-top: 1.2875rem;
    word-spacing: 0.1px;
  }
  .founder-text-two {
    margin-top: -0.7125rem;
    margin-bottom: 0.4313rem;
  }
  .founder-button-link {
    display: none;
  }
  .founder-button-link-two {
    display: flex;
    line-height: 24.9px;
    word-spacing: -3px;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
  }
  .founder-button-link-two:before {
    content: "";
    height: 1px;
    background: #5c8ee6;
    width: 3.5rem;
    margin-right: 1.55rem;
    transition: width 0.2s;
  }
  .founder-content-wrapper {
    margin-bottom: -1.1125rem;
  }

  .clients-list {
    width: 23.25rem;
  }
  .clients-list-item {
    font-size: 1.2rem;
    gap: 1.65rem;
    letter-spacing: -0.1px;
    word-spacing: 0.01rem;
    margin-bottom: 1.238rem;
  }
  .clients-title {
    width: 29.5875rem;
    letter-spacing: 0.1px;
    word-spacing: 0.0375rem;
    font-size: 3.05rem;
    line-height: 118%;
  }
  .clients-content {
    width: 29rem;
  }
  .clients-logo-list {
    margin-top: 0.35rem;
    width: 28.6625rem;
  }
  .clients-logo-item {
    flex-basis: 50%;
    height: 9.17rem;
    width: 3.125rem;
  }
  .clients-logo-item:last-child {
    display: none;
  }
  .clients-logo {
    width: 33.7%;
  }
}
