* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
h1 {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 74px;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  min-height: 100vh;
  padding-top: 94px;
}
.header-image {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  padding: 0 50px;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-right: 53px;
  color: inherit;
  letter-spacing: 0.01px;
  padding-top: 5px;
  padding-left: -2px;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  padding: 25px;
  border: none;
  display: inline-block;
  cursor: pointer;
}
div .button {
  min-width: 313px;
  display: inline-block;
  padding-left: 59px;
  word-spacing: 0.16px;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding-left: 51px;
  letter-spacing: 0.2px;
  margin-right: -3px;
}

.header-button {
  height: 100%;
}
.seporator {
  background: #5c8ee6;
  width: 150px;
  height: 2px;
  border-top: 1px;
}
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding-left: 15px;
}
.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: regular;
  font-size: 80px;
  line-height: 120%;
  margin: 22px 0;
  word-spacing: 0.1px;
  letter-spacing: 0.57px;
  padding-bottom: 17px;
}
.header-text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
  word-spacing: 0.13px;
  letter-spacing: 0.11px;
}
.header-features {
  display: flex;
  min-width: 1440px;
  max-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #ffffff;
  position: relative;
  margin-left: 15px;
  margin-right: 5px;
}
.header-features-item {
  min-width: 288px;
  padding: 31px 49px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-light {
  margin-left: 31px;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 60px;
  line-height: 120%;
  color: #292d33;
  margin-top: 25px;
  padding-bottom: 4px;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.steps-item {
  max-width: 330px;
}
.steps-num {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 1.1px;
  font-stretch: expanded;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 35px;
}
.steps-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin-top: 35px;
  margin-bottom: 10px;
  letter-spacing: 0.07px;
  font-stretch: 0.3px;
}
.steps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #828a99;
  margin-top: 12px;
  margin-bottom: 20px;

  letter-spacing: 0.07px;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1px;
  color: #5c8ee6;
}
.steps-link::before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 40px;
  margin-right: 20px;
}
